#header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  display: flex;
  border-bottom: 1px solid black;
}

.logo{
  width: 100%;                                                                  /*Must specify the box dimensions*/
  border: 2px solid red;
  display: flex;
  align-items: center;                                                          /*Align the contents with respect to the vertical axis*/
}

.logo .name{
  margin: 15px;
  color: MediumAquamarine;
}

nav{
  width: 40%;                                                                   /*Box will occupy 40% of the avaiable space*/
  border: 2px solid blue;
  display: flex;                                                                /*Activate the flex box standards*/
  align-items: center;                                                          /*Align the contents with respect to the vertical axis*/
  justify-content: space-around;                                                /*Space the contents equally within the box*/
}

nav li{
  margin: 0px 10px;
  display: inline-flex;                                                         /*Pivot the list*/
  flex-shrink: 2;
}

nav a{
  color: black;                                                                 /*Change the link underline color*/
}
